* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    height: 100%;
}

.body {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: black;
    margin: .25rem;
}